<footer class="py-3 container">
<div class="row">
  <div class="col-lg-4 col-md-9 col-sm-12 col-12">
    <p class="">Copyright © 2020 StudentGator All rights reserved.</p>
  </div>

    <div class="col-lg-1 col-md-3 col-sm-6 col-6">
      <p>Follow us</p>
    </div>
    <div class="col-lg-2 col-md-7 col-sm-6 col-6">
      <i class="mr-2"> <img src="../../assets/Images/facebook.svg"></i>
      <i class="mr-2"> <img src="../../assets/Images/instagram.svg"></i>
      <i class="mr-2"><img src="../../assets/Images/linkedin.svg"></i>
      <i class="mr-2"><img src="../../assets/Images/twitter.svg"></i>
      <i><img src="../../assets/Images/discord.svg"></i>

    </div>

  <div class="col-lg-2 terms col-md-3 col-sm-6 col-6">
    <p>Terms & conditions</p>
  </div>
  <div class="col-lg-2 privacy col-md-2 col-sm-6 col-6">
    <p>Privacy policy</p>
  </div>
</div>
</footer>
