<div class="container">
  <div class="pt-5 m-auto">
    <div class="input-group mb-3 w-75">
      <input
        type="search"
        class="form-control"
        placeholder="what do you whant to leaen?"
        [(ngModel)]="word"
      />
      <input
        type="search"
        class="form-control"
        placeholder="Write or choose city"
      />

      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">seaech</span>
      </div>


    </div>
  </div>
  <!------------------------------------------------>

  <div class="row">
    <!--filter section-->
    <div class="col-md-3">
      <div class="city">
        <h4>City</h4>
        <input
          type="search"
          class="form-control"
          placeholder="choose one city or more"
        />
      </div>
      <div class="program">
        <h4>Program</h4>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios1"
            value="option1"
            checked
          />
          <label class="form-check-label" for="exampleRadios1">
            Bachelor
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            value="option2"
          />
          <label class="form-check-label" for="exampleRadios2"> Master </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            value="option2"
          />
          <label class="form-check-label" for="exampleRadios2"> MBA </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            value="option2"
          />
          <label class="form-check-label" for="exampleRadios2"> BHD </label>
        </div>
      </div>
      <!------->
      <div class="field">
        <h4>Field</h4>
        <input
          type="search"
          class="form-control"
          placeholder="choose one Field or more"
        />
      </div>
      <!------->
      <div class="school">
        <h4>School</h4>
        <input
          type="search"
          class="form-control"
          placeholder="choose one school or more"
        />
      </div>
      <!------->
      <div class="lang">
        <h4>Language</h4>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios1"
            value="option1"
            checked
          />
          <label class="form-check-label" for="exampleRadios1"> ALL </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            value="option2"
          />
          <label class="form-check-label" for="exampleRadios2"> English </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            value="option2"
          />
          <label class="form-check-label" for="exampleRadios2"> French </label>
        </div>
      </div>
      <!------->
      <div class="sort">
        <h4>Sort</h4>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            value="option2"
          />
          <label class="form-check-label" for="exampleRadios2">
            Price:low to high
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="exampleRadios"
            id="exampleRadios2"
            value="option2"
          />
          <label class="form-check-label" for="exampleRadios2">
            Price:high to low
          </label>
        </div>
      </div>

      <button class="btn btn-primary">Filter</button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <div class="showData mt-5">
        <!--display data data-->
        <div *ngFor="let item of allData|search:word" class="item">
          <div>
            <div class="row">
              <div class="col-md-4">
                <img
                  src="../../assets/Images/Atelier De Sevres Paris.png" class="w-75" alt="" />
              </div>
              <div class="col-md-8 pt-5">
                <h6>{{ item.Name }}</h6>
                <p>{{ item.type }}</p>
                <span class="mr-3 text-muted">Tuition Fee:</span>
                <span class="text-primary mr-5">{{ item.fee}} $ Per Year </span>
                <span class="">{{ item.city }}</span>
              </div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
